@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.wraper {
  width: 100%;
  height: 100%; }

.order-link {
  text-decoration: none;
  text-transform: uppercase;
  min-width: 98px;
  padding: 8px 15px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #e45028;
  margin-top: -3px;
  color: #ffff;
  width: 97px;
  height: 35px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #ce401a; }

.fid__button {
  padding: 8px 8px;
  margin-top: 20px;
  background-color: #2f3234;
  color: #ffff;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .fid__button:hover {
    background-color: black; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.pagin {
  display: block;
  position: fixed;
  top: 100px;
  right: 120px; }

.pagin__item {
  display: block;
  position: relative;
  width: 6px;
  height: 6px;
  background: #ffff;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px; }
  .pagin__item + .pagin__item {
    margin-top: 20px; }
  .pagin__item:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid #ffff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .pagin__item--active:before {
    opacity: 1; }
  .pagin__item:hover:before {
    opacity: 1;
    width: 20px;
    height: 20px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smooting: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.hellow {
  background-image: url(../img/video-bg.png);
  background-size: cover;
  height: 100vh;
  min-height: 650px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px; }

.header__logo {
  padding-top: 13px; }

.logo {
  padding-top: 13px;
  margin-left: 50px; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  white-space: nowrap;
  margin: 20px; }

.nav {
  font-family: 'Ubuntu'; }

.nav__list {
  margin: 2px; }

.nav__item {
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 13px; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px; }

.nav__link {
  color: #ffff;
  text-decoration: none; }
  .nav__link:hover {
    text-decoration: underline; }

.nav__item::before {
  content: "\2022";
  margin: 13px;
  color: #ffff;
  font-size: 15px; }

.nav__item:first-child::before {
  display: none; }

.hellow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hellow__slogan {
  padding: 11px; }

.title {
  font-size: 72px;
  font-family: 'Gagalin';
  color: #f9b43b;
  padding-top: 50px;
  line-height: 2; }

.hellow__slogan-text {
  font-size: 65px;
  color: #ffff;
  font-family: 'Lifehack';
  line-height: 1;
  width: 200px; }

.btn__last {
  position: absolute;
  bottom: 0; }

.fidback {
  height: 100vh;
  background-color: #000000;
  background-size: cover; }

.fidback__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.fid {
  display: block;
  position: absolute;
  color: #ffff;
  opacity: 0;
  width: 100%;
  padding: 18px;
  margin: -3px; }

.userpic:hover .fid {
  opacity: .5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #0d0e0e;
  height: 100%; }

.userpic {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 25%;
  position: relative; }

.userpic__img {
  width: 100%;
  margin: -3px; }

.fid__head {
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 30px; }

.fid__text {
  font-family: 'Ubuntu';
  color: #ffffff;
  width: 75%;
  font-size: 14px;
  line-height: 24px;
  text-align: left; }

.fid__button--link {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase; }

.thebest {
  background-image: url(../img/bg.png);
  background-size: cover;
  height: 100vh;
  min-height: 650px; }

.thebest__best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title--thebest {
  font-size: 72px;
  font-family: 'Gagalin';
  color: #2f3234; }

.thebest__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1000px;
  padding-bottom: 155px; }
  .thebest__content--text {
    text-align: center; }

.thebest__contetnt--title {
  font-family: 'Lifehack';
  color: #2f3234;
  font-size: 24px;
  padding: 25px; }

.thebest__content--commit {
  font-family: 'Ubuntu'; }

.comand {
  background-image: url(../img/comand-bg.png);
  background-size: cover;
  height: 100vh; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%; }

.content__comand {
  width: 50%;
  height: 100%;
  padding-left: 97px;
  background: rgba(14, 13, 13, 0.8); }

.clss1 {
  width: 80%;
  height: 80%; }

.clss1__1 {
  padding-top: 113px; }

.nav__link__com {
  text-decoration: none;
  font-family: 'Gagalin';
  font-size: 14px;
  color: #ffff;
  margin-left: 15px; }
  .nav__link__com:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-top: 5px; }
  .nav__link__com.nav__link:hover {
    text-decoration: none; }

.comand__nav__activ--list {
  text-decoration: none;
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 14px;
  padding-bottom: 12px;
  margin-left: 15px; }
  .comand__nav__activ--list:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #f9b43b;
    border-top-width: 0px;
    margin-top: 5px; }

.detali {
  height: 50px;
  overflow: hidden; }

.content__comand__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 17px 0 0 15px;
  height: 0;
  overflow: hidden; }

.content__comand__info--activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 17px 0 0 15px; }

.comand__info {
  font-family: 'Ubuntu';
  color: #ffff;
  font-size: 14px;
  line-height: 24px;
  text-align: left; }
  .comand__info__title {
    font-weight: 700; }
  .comand__info-content {
    font-weight: 300;
    padding-top: 15px; }

.comand__info__pic {
  padding-right: 10px; }

* {
  margin: 0;
  padding: 0; }

.menuburg {
  background: url("../img/menu.png") center center/cover no-repeat;
  height: 100vh; }

.menuburg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu__title {
  width: 50%;
  padding-top: 111px;
  padding-left: 97px; }

.menu__discription {
  height: 100%;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.title__br {
  font-size: 72px;
  font-family: 'Gagalin';
  color: #ffff; }

.title__br2 {
  font-size: 40px;
  font-family: 'Gagalin';
  color: #ffff;
  padding: 22px; }

.menu__discription--item {
  background: url("../img/m_meet.png") center center/cover no-repeat;
  width: 100%; }

.discription__item {
  height: 0;
  overflow: hidden; }

.discription__item--activ {
  display: block;
  position: relative;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 67%;
  background: black;
  color: #ffff;
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.order {
  background: url(../img/bg-order.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; }

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 80px; }

.form__block-title {
  color: #ffff; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.maps {
  background: url("../img/map.png") center center/cover no-repeat;
  width: 100%;
  height: 100%; }

.footer {
  background: url(../img/bg-footer.png) center center/cover no-repeat;
  height: 58px; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer__content--item {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.footer__text {
  color: #ffff;
  font-size: 14px;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal; }

.footer__tel {
  color: #e45028; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  fill: #595959;
  width: 25px;
  height: 25px; }

.icon:hover {
  fill: #ffff; }

.icon:first-child {
  margin-left: 0; }

.tel {
  text-decoration: none;
  color: #e45028; }
