.burg{
    background: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
background: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
background: -o-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
background: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
width: 100%;
height: 100vh;
}
.burg__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    width: 100%;
    height: 100%;
    align-content: center;
  

}
.burg__discripion{
    width: 45%
}
.discription__title{
    color: $link;
    margin-bottom: 20px;
    font-size: rem(72px);
    font-family: 'Gagalin';
    }
.discription__price{
        
        margin-bottom: 20px;
        font-size: rem(72px);
        font-family: 'Gagalin';
        color: $btn;
    
    
}
.price{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: start;
    align-items: center;
  }