.comand{
    background-image: url(../img/comand-bg.png);
    background-size: cover;
    height: 100vh;
    @include tablets{
        height: 100%;
    }
    @include phone{
        height: 100%;
    }
}
.comand__nav--item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    @include tablets{
        align-items: center
    }
    @include phone{
        align-items: center;
    }
}
.content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;

    
}
.content__comand{
    width: 50%;
    height: 100%;
    padding-left: rem(97px);
    background: rgba(14, 13, 13, 0.8);
    
    @include tablets{
        width: 100%;
        text-align: center;
    }
    @include phone{
        width: 100%;
        
    }
    
}
.clss1{
   
    width: 80%;
    height: 80%;
    
}
.clss1__1{
    padding-top: rem(113px);
}

.nav__link__com{
    display: flex;
    text-decoration: none;
    font-family: 'Gagalin';
    color: $link;
    margin-left: rem(15px);
    &:before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-top-color: $orange;
        border-bottom-width: rem(0px); 
        margin-top: rem(5px);
        margin-right: rem(10px);
    }
    &.nav__link:hover{
        text-decoration: none
    }
}
.activ--list{
    text-decoration: none;
    color: $orange;
    font-family: 'Gagalin';
    padding-bottom: rem(12px);
    margin-left: rem(15px);
    &:before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-bottom-color: $orange;
        border-top-width: rem(0px); 
        margin-top: rem(5px);
        
           
        }
        @include tablets{
            
        }
        @include phone{
            
            text-decoration: none;
            color: $orange;
            font-family: 'Gagalin';
  
    
    &:before {
            content: "";
        
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-bottom-color: $orange;
        border-top-width: rem(0px); 
       
    }
    }
}
.detali{
    height: rem(50px);
    overflow: hidden;
}
.content__comand__info{
    display: flex;
    flex-direction: row;
    padding:rem(17px) 0 0 rem(15px);
    height: 0;
    overflow: hidden;
    @include tablets{
        display: flex;
    flex-direction: column;
    }
    @include phone{
        display: flex;
    flex-direction: column;
    }
&.activ{
    display: flex;
    flex-direction: row;
    padding:rem(17px) 0 0 rem(15px);
    height: 100%;
    @include tablets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}
.comand__info{
    font-family: 'Ubuntu';
    color: $link;
    font-size: rem(14px);
    line-height: rem(24px);
    text-align: left;
    @include tablets{
        text-align: center;
        padding-bottom: rem(34px);
        
    }
    @include phone{
        text-align: center;
        padding-bottom: rem(34px);
        
    }
    &__title{
    font-weight: 700;
    }
        &-content{
            font-weight: 300;
            padding-top: rem(15px);
        }
}
.comand__info__pic{
    padding-right: rem(10px);
    @include tablets{
        text-align: center;
        padding-bottom: rem(24px);
    }
    @include phone{
        text-align: center;
        padding-bottom: rem(24px);
    }
}
