.fidback{
   height:100%;
   min-height: 650px;
   background-color: $back;
   

}
.fidback__user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
    align-content: stretch;
    margin: -6px;
}
.fid{
    display: block;
    position: absolute;
    color: #ffffff;
    opacity: 0;
    padding: 18px;
}
.userpic {
    filter: grayscale(100%);
    width: 25%;  
}
.userpic__img{
    width: 100%;
    margin: -3px;
    
}.userpic:hover .fid{
    opacity: 1;
    transition: 2s;
    width: 100%;

}
.fid__head{
    text-transform: uppercase;
    font-family: 'Gagalin';
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.fid__text{
    font-family: 'Ubuntu';
    color:#ffffff;
    width: 200px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
.fid__button--link{
    text-decoration: none;
    color: $link;
    text-transform: uppercase;
}


