.hellow{
    background-image: url(../img/video-bg.png);
    background-size: cover;
    height: 100vh;
    min-height: 650px;
}
.header{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    align-items:center;
    padding: 10px;
}
.header__logo{
    padding-top: 13px;
}
.logo{
    padding-top: 13px;
    margin-left: 50px;
}
.header__menu{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin: 20px;
}
.nav{
    font-family: 'Ubuntu';
}
.nav__list{
    margin: 2px;
    
}
.nav__item {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 13px;
    &:after{
        display:inline-block;
        vertical-align: middle;
        margin: 0 12px;
    }
}
.nav__link{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
}
.nav__item::before{
    content: "\2022";
    margin: 13px;
    color: $link;
    font-size: 15px;
    
}
.nav__item:first-child::before {
   display: none 
} 
.hellow__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center 
}
.hellow__slogan{
    padding: 11px;
}

.title{
    font-size: 72px;
    font-family: 'Gagalin';
    color: $orange;
    padding-top: 50px;
    line-height: 2;
}
.hellow__slogan-text{
    font-size: 65px;
    color: $text;
    font-family: 'Lifehack';
    line-height: 1;
    width: 200px;
    
}
.btn__last{

    padding-top: 41px;

}


