.hellow{
    background-image: url(../img/video-bg.png);
    background-size: cover;
    height: 100vh;
    min-height: rem(650px);
}
.header{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    align-items:center;
    padding: rem(10px);
}
.header__logo{
    padding-top: rem(13px);
}
.logo{
    padding-top: rem(13px);
    margin-left: rem(50px);
}
.header__menu{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin: rem(20px);
}
.nav{
    font-family: 'Ubuntu';
}
.nav__list{
    margin: rem(2px);
}
.nav__item {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: rem(13px);
    &:after{
        display:inline-block;
        vertical-align: middle;
        margin: 0 rem(12px);
    }
}
.nav__link{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
}
.nav__item::before{
    content: "\2022";
    margin: rem(13px);
    color: $link;
    font-size: rem(15px);
}
.nav__item:first-child::before {
   display: none 
} 
.hellow__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center 
}
.hellow__slogan{
    padding: rem(11px);
}
.title{
    font-size: rem(72px);
    font-family: 'Gagalin';
    color: $orange;
    padding-top: rem(50px);
    line-height: 2;
   
}
.hellow__slogan-text{
    font-size: rem(65px);
    color: $text;
    font-family: 'Lifehack';
    line-height: 1;
    width: rem(200px);
}
.btn__last{
    position: absolute; 
    bottom: 0;
   
}


