.menuburg{
    background: url('../img/menu.png') center center / cover no-repeat;
    height: 100vh;
}  
.menuburg__content{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.menu__title{
    width: 50%;
    padding-top: 111px;
    padding-left: 97px;
}
.menu__discription{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    -moz-transform: rotate(-0deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
.title__br{
    font-size: 72px;
    font-family: 'Gagalin';
    color: $link;
}
.title__br2{
    font-size: 40px;
    font-family: 'Gagalin';
    color: $link;
    padding: 22px;
}
.menu__discription--item{
    background: url('../img/m_meet.png') center center / cover no-repeat;
    
    
}
.discription__item{
    height: 0;
    overflow: hidden;
}
.discription__item--activ{
    display: block;
    position: relative;
    align-content: center;
    width: 62%;
    height: 100%;
    background: rgb(46, 45, 45);
    opacity: 0.8;
    margin-left: 75px;
    color: $link;
    -moz-transform: rotate(0deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
    

}