.order{
    background: url(../img/bg-order.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
    
}
.order__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    
}
.order__form{
  display: flex;
  flex-direction: row;
  width: 85%;
 
  
  
}
.form__content{
 
  width: 50%;
  
}
.form__block-title {
    color: $link;
    margin-bottom: 10px;;
  }
  
.form__input {
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    width: 100%;  
  }
  
  .form__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin: 20px 20px;

  }
  
  .form__block {
    flex:1;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
.form__left{
  width: 50%;
  
}
.form__coll{
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}
.form__radio{
  margin-left: 20px;
  margin-right: 11px;
}
