.thebest{
    background-image: url(../img/bg.png);
    background-size: cover;
    height: 100vh;
    min-height: 650px; 
}

.thebest__best{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title--thebest{
    font-size: 72px;
    font-family: 'Gagalin';
    color: #2f3234;
    
    
}
.thebest__content{
    display: flex;
    flex-direction: row;
    width: 1000px;
    padding-bottom: 155px;
    &--text{
        text-align: center;
        
    } 

}
.thebest__contetnt--title{
    
        font-family: 'Lifehack';
        color: #2f3234;
        font-size: 24px;
        padding: 25px
        
    }  

.thebest__content--commit{
    font-family: 'Ubuntu';
    
}