.wraper{
    width: 100%;
    height: 100%;
}
.order-link{
    text-decoration: none;
    text-transform: uppercase;
    min-width: 98px;
    padding: 8px 15px;
    margin-left:15px; 
    border-radius: 5px;
    background-color:$btn;
    margin-top: -3px;
    color: $link;
    width: 97px;
    height: 35px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    transition: .5s;
    display: inline-block;
    &:hover{
        background-color: darken($btn,7%); 
    }
}
.fid__button{
    padding: 8px 8px;
    margin-top: 20px;
    background-color:$bt;
    color: $link;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    transition: .5s;
    display: inline-block;
    &:hover{
        background-color: darken($btn,100%); 
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
    align-items: center;
}
.pagin{
    display: block;
    position:fixed; 
    top: 100px;
    right: 120px;
    
}
.reset{
    background: none;
    color: $link;
    border: none;
}
.pagin__item{
    display: block;
    position: relative; 
    width: 6px;
    height: 6px;
    background: $link;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px;
    &+&{
        margin-top: 20px;
    }
&:before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid $link;
    top: 50%;
    left: 50%;
    border-radius: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .2s;
}
&--active{
    &:before{
        opacity: 1;
    }
}
&:hover{
    &:before{
        opacity: 1;
        width: 20px;
    height: 20px;
    }
}    
}

